.form
	display block

	&__input
		width 100%
		background-color transparent
		border none
		outline none
		color #ae82da
		border-bottom 1px solid #ae82da
		transition all .1s ease-in-out

	&__input:focus
		border-bottom 1px solid #fff

	&__name
		margin-bottom 30px

	&__btn
		width 270px
		height 50px
		text-transform uppercase
		color #5e06b6
		background-color #00dcb4
		font-weight 700
		border none
		outline none
		transition all .1s ease-in-out

	&__btn:hover
		background-color #11efc7
