.signup
	width 100%
	height 100%
	position fixed
	top 0
	left 0
	display flex
	align-items center
	justify-content center
	overflow auto

	&__signupwrapper
		display block
		margin 0 auto
		padding 25px
		width 320px

	&__btn
		width 270px
		height 50px
		margin-top 20px
		text-transform uppercase
		color #ffffff
		background-color transparent
		font-weight 700
		border none
		outline none
		transition all .1s ease-in-out

		&_signup
			border 1px solid #ffffff

			&:hover
				background-color #7216ce

		&_twitter
			background-color #69ccef
			background-image url(../img/icon-twitter.svg)
			background-size 40px 40px
			background-repeat no-repeat
			background-position 15px center
			border none
			text-transform  none
			fill #fff

			&:hover
				background-color #83d8f6

		&_facebook
			background-color #527dbe
			background-image url(../img/icon-facebook.svg)
			background-size 30px 30px
			background-repeat no-repeat
			background-position 15px center
			border none
			text-transform  none
			fill #fff

			&:hover
				background-color #6e95d1

		&_linkedin
			background-color #1276b1
			background-image url(../img/icon-linkedin.svg)
			background-size 40px 40px
			background-repeat no-repeat
			background-position 15px center
			border none
			text-transform  none
			fill #fff

			&:hover
				background-color #208bca



