.paycover
	display block

	&__btn
		width 270px
		height 50px
		margin-top 20px
		text-transform uppercase
		color #ffffff
		background-color transparent
		font-weight 700
		border 1px solid #ffffff
		border-radius 5px
		outline none
		transition all .1s ease-in-out

	&__btn:hover
		background-color #7216ce

	&__text
		text-align center
		color #d2baea
		font-size 14px
		padding-top 10px
