.header
	display block
	width 100%
	margin-bottom 50px
	display flex
	justify-content space-between

	&__name
		display flex
		color #fff

	&__back,
	&__profile
		display flex
		cursor pointer

	&__back:hover,
	&__profile:hover
		display flex
		color #fff
		transition all .1s ease-in-out

.headerprofile
	display flex
	justify-content space-between
