mixin header()
	+b.header&attributes(attributes)
		+e('a').back(herf="#") Back

mixin headerprofile()
	+b.header&attributes(attributes)
		+e('a').back(herf="#") Back
		+e('p').name Elon Musk
		+e('a').profile(herf="#") Profile
