.risetravelscore
	display block

	&__text
		text-align center
		margin-top 20px
		color #decdf0
		font-size 16px

	&__btn
		width 270px
		height 50px
		margin-top 20px
		text-transform uppercase
		color #5e06b6
		background-color #00dcb4
		font-weight 700
		border none
		border-radius 5px
		outline none
		transition all .1s ease-in-out

	&__btn:hover
		background-color #11efc7
