mixin risetravelscore()
	+b.risetravelscore&attributes(attributes)
		+e('p').text
			|To join our club without invitation
			|your score needs to be
			|over 650
		+e('button').btn(type="input") Rise my travelscore
